<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="ACCConString" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.25.22)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=crpu)));User Id=xoomdb;Password=XoomDb_27072015;"/>

    <add name="ACCConStringCBS" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=
    (ADDRESS=
      (PROTOCOL=TCP)
      (HOST=172.22.101.187)
      (PORT=1530)
    )
    (CONNECT_DATA=
      (SERVICE_NAME=testdb)
    )
  );User Id=decaft21;Password=d;"/>


  </connectionStrings>
  
  <appSettings>
    <add key="interval" value="1000"/><!--interval 60000 means 1 minute--> 
    <add key="fromAccNo" value="2202652"/>
       
    <add key="Charge" value="0"/>
    <add key="toAccountNoOtherBank" value="0011130000387"/>

    <add key="MGGLID" value="2202326" />
    <add key="NPSBGLID" value="2101317" />
    <add key="branchCode" value="1"/>

    <add key="smsText" value=" Service is down. Please check the log file and restart the service."/>
    <add key="MobileNo" value=" 01817537884,01723006742"/>


  </appSettings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
