<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>

  <connectionStrings>
    <add name="ConStringAPP" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.101.46)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=remitapidb;Password=remitapidb;" providerName="System.Data.OracleClient" />
  </connectionStrings>

  <appSettings>
    <add key="interval" value="1000"/>
    <add key="toAccountNoOtherBank" value="0011130000319"/>
  </appSettings>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIBLATSSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
        <client>
              <endpoint address="http://172.22.25.93/Delivery/SIBLATS.asmx"
                    binding="basicHttpBinding" bindingConfiguration="SIBLATSSoap"
                    contract="SIBLCBS.SIBLATSSoap" name="SIBLATSSoap" />
        </client>
    </system.serviceModel>
</configuration>
