<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConStringAPP" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.101.146)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=inhodbtest)));User Id=mgdb;Password=mgdb;" providerName="System.Data.OracleClient" />
    <add name="ACCConStringCBS" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=&#xD;&#xA;    (ADDRESS=&#xD;&#xA;      (PROTOCOL=TCP)&#xD;&#xA;      (HOST=172.22.101.187)&#xD;&#xA;      (PORT=1530)&#xD;&#xA;    )&#xD;&#xA;    (CONNECT_DATA=&#xD;&#xA;      (SERVICE_NAME=testdb)&#xD;&#xA;    )&#xD;&#xA;  );User Id=decaft21;Password=d;" />
  </connectionStrings>
  <appSettings>
    <add key="interval" value="1000" />
    <add key="Charge" value="0" />
    <add key="ForeignRemitAccount" value="0011130000106" />
    <add key="MGGLID" value="2202326" />
    <add key="NPSBGLID" value="2101317" />
    <add key="GLUSD" value="5520000037" />
    <add key="branchCode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIBLATSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.22.25.93/Delivery/SIBLATS.asmx" binding="basicHttpBinding" bindingConfiguration="SIBLATSSoap" contract="SIBLCBS.SIBLATSSoap" name="SIBLATSSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>