<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add  name="ConStringAPP" providerName="System.Data.OracleClient" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.101.146)(PORT=1521) )(CONNECT_DATA=(SERVICE_NAME=inhodbtest)));User Id=mgdb;Password=mgdb;"  />
  </connectionStrings>

  <appSettings>
    <add key="interval" value="1000"/>
    <!--interval 60000 means 1 minute-->
    <add key="bankCode" value="34"/>
    <add key="password" value="SIBLUSER"/>
    <add key="userName" value="SIBLUSER"/>
    <add key="itcl_url" value="http://172.22.26.228:30002"/>
    <add key="ExtID" value="ext201293"/>
    <add key="userID" value="SIBLID"/>
    <add key="TermName" value="SIBLTERM"/>
    <add key="SourceOfFund" value="123456789"/>
    

    <add key="ForeignRemitAccount" value="0011130000106"/>
    <add key="NPSBGLID" value="2101317"/>
         
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIBLATSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.22.25.93/Delivery/SIBLATS.asmx"
        binding="basicHttpBinding" bindingConfiguration="SIBLATSSoap"
        contract="SIBLCBS.SIBLATSSoap" name="SIBLATSSoap" />
    </client>
  </system.serviceModel>
</configuration>